/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 27, 2023, 1:58:26 PM
    Author     : rliepa8
*/
body {
    background-color: #e8e6e6;
    height: 100%;
    margin: 0;
    font-family: Arial;
}
/* Style tab links */
.tablink {
  background-color: #555;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 70%;
}

#Datortikli {background-color: red;}
#Internets {background-color: green;}
#Lapas {background-color: blue;}
#Ietvari {background-color: orange;}

